
@{
    ViewBag.Title = "View";
}
<div class="content-wrapper">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="d-flex justify-content-between">
                    Employee Data
                    <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#exampleModalCenter">
                        Add New Emp
                    </button>
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="container table-responsive">


                <table class="table  table-hover" style="height:100px; overflow: hidden;">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone No</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Department</th>
                            <th>Skill</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registration Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>




            <div class="modal-body">
                <div class="row">
                    <input type="text" hidden class="form-control" name="id" value="0">
                    <div class="col-sm-12">
                        Name:
                        <input type="text" class="form-control" id="name" placeholder="name" name="name">
                    </div>
                    <div class="col-sm-12">
                        Email:
                        <input type="text" class="form-control" placeholder="email" id="email" name="email">
                    </div>
                    <div class="col-sm-12">
                        Phone no:
                        <input type="text" class="form-control" id="Phone_no" placeholder="phone no" name="Phone_no">
                    </div>  <br><br>
                    <div class="form-check form-check-inline col-sm-6">
                        Gender&nbsp;

                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male">
                        <label class="form-check-label" for="inlineRadio1">male</label>
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
                        <label class="form-check-label" for="inlineRadio2">female</label>
                    </div>
                    <div>
                        <br>
                        <div class="form-check form-check-inline">
                            Department&nbsp&nbsp
                            <input class="form-check-input department" name="department" type="checkbox" id="inlineCheckbox1" value="Hr">
                            <label class="form-check-label" for="inlineCheckbox1">Hr</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" name="department" type="checkbox" id="inlineCheckbox2" value="Account">
                            <label class="form-check-label" for="inlineCheckbox2">Account</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input department" name="department" type="checkbox" id="inlineCheckbox3" value="IT">
                            <label class="form-check-label" for="inlineCheckbox1">IT</label>
                        </div>
                    </div> <br>
                    <div>
                        <br>
                        <div id="skildiv" class="form-check form-check-inline">
                            Skill&nbsp&nbsp
                            @*<input class="form-check-input skill" name="skill" type="checkbox" id="Checkbox1" value=".Net">
                                    <label class="form-check-label" for="Checkbox1">.Net</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input skill" name="skill" type="checkbox" id="Checkbox2" value="SQL Server">
                                    <label class="form-check-label" for="Checkbox2">SQL Server</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input skill" name="skill" type="checkbox" id="Checkbox3" value="Django">
                                    <label class="form-check-label" for="Checkbox1">Django</label>
                                </div>*@
                        </div> <br>

                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlSelect1">State</label>
                            <select class="form-control" onchange="Chkcity()" id="exampleFormControlSelect" value="select">
                                <option name="state">--Select--</option>

                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleFormControlSelect1">City</label>
                            <select class="form-control" id="exampleFormControlSelect1" value="select1">
                                <option name="city">--Select--</option>

                            </select>
                        </div>
                        <div class="col-sm-12">

                            &emsp;&emsp; &emsp;&emsp;
                            <button class="btn btn-success" id="subBtn">submit</button>
                            <button class="btn btn-danger" id="canBtn" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var skilldata = null;
    $(document).ready(function () {
        loadState1();
        loadCity();
        loaddata();

        loadSkill()
        
    });
    var loaddata = function () {

        $("tbody").html("");
        $.get('/Home/getEmp').done(function (result) {
            $.each(result, function (index, value) {
                console.log(value);
                $("tbody").append('<tr  data-id="' + value.ID + '"data-name="' + value.Name + '" data-email=' + value.Email + ' data-phone_no=' + value.PhoneNo + ' data-gender=' + value.Gender + ' data-department=' + value.Department + ' data-skill="' + value.Skill + '" data-state=' + value.StateId + ' data-city=' + value.CityId + '><td></td>' +
                    '<td>' + value.Name + '</td>' +
                    '<td>' + value.Email + '</td>' +
                    '<td>' + value.PhoneNo + '</td>' +
                    '<td>' + value.Gender + '</td>' +
                    '<td>' + value.Department + '</td>' +
                    '<td id=_skill' + value.ID + '>' + value.Skill + '</td>' +
                    '<td>' + value.State + '</td>' +
                    '<td>' + value.City + '</td>' +
                    '<td><button class="btn btn-danger">delete</button><button class="btn  btn-primary btnEdit" id="">edit</button></td></tr>')
            });
        });
    }

    var loadCity = function (StateId = 0) {

        $.get('/Home/getCity', { StateId: StateId }).done(function (result) {
            $("#exampleFormControlSelect1").html("");
            console.log(result)
            for (i = 0; i < result.length; i++) {
                $("#exampleFormControlSelect1").append($("<option name='city'></option>").val(result[i].Id).html(result[i].CityName));
            };
        });
    };


    var loadState1 = function () {

        $.get('/Home/getState').done(function (result) {

            for (i = 0; i < result.length; i++) {
                $("#exampleFormControlSelect").append($("<option name='state'></option>").val(result[i].Id).html(result[i].StateName));
            };
        });
    };
    function Chkcity() {

        loadCity($("#exampleFormControlSelect").val())

    }
    $('#subBtn').click(function () {
        debugger;
        var obj = {
            ID: $('[name="id"]').val(),
            Name: $('[name="name"]').val(),
            Email: $('[name="email"]').val(),
            PhoneNo: $('[name="Phone_no"]').val(),
            Gender: $('[name="gender"]:checked').val(),
            Department: $('[name="department"]:checked').val(),
            // Skill: $('[name="skill"]:checked').val(),
            StateId: $('[name="state"]:selected').val(),
            CityId: $('[name="city"]:selected').val(),
            State: $('[name="state"]:selected').text(),
            City: $('[name="city"]:selected').text()

        }

        var arr = [];
        $.each($("input[name='skill']:checked"), function () {
            arr.push($(this).val());
        });
        obj.Skill = arr.join(',')
        var action = '<button class="btn btn-danger">delete</button><button id="show" class="btn  btn-primary">edit</button>'
        var rowcount = $('tbody tr').length;
        if (obj.ID == 0 || obj.ID == "0") {
            $.post('/Home/AddEmp', obj).done(function (result) {
                loaddata();
                $('#canBtn').trigger('click');
                $('#exampleModalCenter').modal('hide');
            });
        }
        else {
            
            $.post('/Home/UpdateEmp', obj).done(function (result) {
                loaddata();
                $('#canBtn').trigger('click');
            }).fail(function (result) {
                alert('Failed');

            });
        }

       
    });

    $('body').on('click', '.btn-danger', function () {

        let row = $(this).closest('tr');
        var obj = {
            ID: row.attr('data-id'),
        }

        $.post('/Home/DeleteEmp', obj).done(function (result) {
            loaddata();
        }).fail(function (result) {
            alert('Failed');
        });
    });

    $('body').on("click", ".btnEdit", function () {
        debugger
        let row = $(this).closest('tr');
        var obj = {
            ID: row.attr('data-id'),
            Name: row.attr('data-name'),
            Email: row.attr('data-email'),
            PhoneNo: row.attr('data-phone_no'),
            Gender: row.attr('data-gender'),
            Department: row.attr('data-department'),
            Skill: row.attr('data-skill'),
            State: row.attr('data-state'),
            City: row.attr('data-city'),
            StateId: row.attr('data-state'),
            CityId: row.attr('data-city'),
        };

        $('#exampleModalCenter').modal('show');
        $("input[name=id]").val(obj.ID);
        $("#subBtn").html('Update');
        $('#name').val(obj.Name);
        $('#email').val(obj.Email);
        $('#Phone_no').val(obj.PhoneNo);
        // $("input[name=skill][value='" + obj.Skill + "']").attr('checked', 'checked');
        $("input[name=gender][value=" + obj.Gender + "]").attr('checked', 'checked');
        $("input[name=department][value=" + obj.Department + "]").attr('checked', 'checked');
        $("#exampleFormControlSelect").val(obj.StateId);



        $.each(obj.Skill.split(','), function (key, value) {
            $(`input[name=skill][value='${value}']`).attr('checked', 'checked');
        });
        loadCity(obj.StateId);
        $("#exampleFormControlSelect1").val(obj.CityId);
       
        $(this).hide();
       
        
    });
    function showhide() {
        $('#name').val("");
        $('#email').val("");
        $('#Phone_no').val("");
        $(`input[name=skill][value='${value}']`).attr('checked', 'checked');
        $("input[name=gender]").attr('checked', false);
        $("input[name=department]").attr('checked', false);
        $("#exampleFormControlSelect").val(0);
        $("#exampleFormControlSelect1").val(0);




        $('.btnEdit').show();
    }

    var loadSkill = function () {
        $.get('/Home/getSkill').done(function (result) {
            $('#skildiv').html("");
            skilldata = result;
            for (i = 0; i < result.length; i++) {

                var a = `<div class="form-check form-check-inline"><input class="form-check-input skill" name="skill" type="checkbox" id="${result[i].Id}" value="${result[i].Id}">
                    <label class="form-check-label" for="Checkbox1">.${result[i].SkillName}</label></div>`
                //$('tbody').append('<tr><td>' + result[i].SkillId + '</td>' +
                //    '<td>' + result[i].SkillName + '</td></tr>');
                $('#skildiv').append(a)
            }
        });
    };
    function bundskill() {


        $('*[id*=skill]').each(function () {
            var data = $(this).html().split(',');
            $.each(skilldata, function (Id, SkillName) {
                alert(SkillName)
            });
        })
    }
    $("Update")

</script>

